@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Esse é o sistema de cadastro de processos.</p>
    <div>
    <a class="btn btn-primary" asp-area="" asp-controller="Processo" asp-action="CadastroProcesso">Novo Processo</a>
    <a class="btn btn-primary" asp-area="" asp-controller="Processo" asp-action="Index">Lista Processos</a>
    </div>
</div>
